<% if user_signed_in? %>
  <%= render "layouts/nav" %>
<% end %>

<div class="ad-actions">
<p class="alert"><%= alert %></p>
<h1>My ads</h1>
<div class="wrapper-for-button">
<details class="ad-action">
  <summary>Create new ad</summary>
  <%= form_for(:ad, url: create_ad_path, method: :post) do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    <%= f.label :model, "Model" %>
    <%= f.select :model, raw("<option>BMW</option><option>Audi</option><option>Mercedes-Benz</option>") %>
    <%= f.label :mileage, "Mileage" %>
    <%= f.text_field :mileage %>
    <%= f.label :horsepower, "Horsepower" %>
    <%= f.text_field :horsepower %>
    <%= f.label :fuel, "Fuel" %>
    <%= f.select :fuel, raw("<option>Petrol</option><option>Diesel</option>") %>
    <%= f.label :gearbox, "Gearbox" %>
    <%= f.select :gearbox, raw("<option>Manual</option><option>Automatic</option>") %>
    <%= f.label :price, "Price" %>
    <%= f.text_field :price %>
    <%= f.submit "Create" %>
  <% end %>
</details>
</div>

<h3>Edit ads</h3>
<% @user_ads.each do |ad| %>
<div class="wrapper-for-button">
  <details class="ad-action">
    <summary><%= ad.name %> <%= button_to "Delete", delete_ad_path(ad.id), method: :delete, class: "btn btn-danger" %></summary>
    <%= form_for(:ad, url: update_ad_path(ad.id), method: :put) do |f| %>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, value: ad.name %>
      <%= f.label :model, "Model" %>
      <%= f.select :model, options_for_select([ "BMW", "Audi", "Mercedes-Benz" ], ad.model) %>
      <%= f.label :mileage, "Mileage" %>
      <%= f.text_field :mileage, value: ad.mileage %>
      <%= f.label :horsepower, "Horsepower" %>
      <%= f.text_field :horsepower, value: ad.horsepower %>
      <%= f.label :fuel, "Fuel" %>
      <%= f.select :fuel, options_for_select([ "Diesel", "Petrol" ], ad.fuel) %>
      <%= f.label :gearbox, "Gearbox" %>
      <%= f.select :gearbox, options_for_select([ "Manual", "Automatic" ], ad.gearbox) %>
      <%= f.label :price, "Price" %>
      <%= f.text_field :price, value: ad.price %>
      <%= f.submit "Update" %>
    <% end %>
  </details>
</div>
<% end %>
</div>
