<% if session[:guest_user_id] != nil %>
  <%= render "layouts/nav_guest" %>
<% elsif user_signed_in? %>
  <%= render "layouts/nav" %>
<% end %>

<main>
  <% if user_signed_in? %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= form_tag(search_path, method: :get) do %>
    <%= label_tag(:search_model, "Search by model") %>
    <%= select_tag :search_model, raw("<option>BMW</option><option>Audi</option><option>Mercedes-Benz</option>") %>
    <%= submit_tag("Search", class: "submit btn btn-info") %>
  <% end %>

  <h2>All ads list</h2>
  <div class="main-ads-list">
    <% @ads.each do |ad| %>
      <%= link_to ad.name, show_ad_path(ad.id), class: "item-main" %>
    <% end %>
  </div>
</main>
